In [ ]:
# Линенйная регрессия

# полдучить проданные крвартиры
# построить регресию от параметрв () как бейзлайн (а пока средене)
            "title": "Причальный Юг 3 72.8 Причальный пр., д. 8 55.76018,37.517482",
            "price": "61182068.00",
            "price_sale": "42827447.00",
            "datetime_create": "2023-02-11T00:04:27.136984Z",
            "category": "Новостройки",
            "brand": "level.ru",
            "brand_url": "level.ru",
            "description": "[{\"name\": \"\\u041f\\u0410\\u041e \\u00ab\\u0421\\u043e\\u0432\\u043a\\u043e\\u043c\\u0431\\u0430\\u043d\\u043a\\u00bb. \\u0421\\u0442\\u0430\\u0432\\u043a\\u0430 \\u043f\\u043e \\u043a\\u0440\\u0435\\u0434\\u0438\\u0442\\u0443 7,1%, \\u043f\\u0435\\u0440\\u0432\\u043e\\u043d\\u0430\\u0447\\u0430\\u043b\\u044c\\u043d\\u044b\\u0439 \\u0432\\u0437\\u043d\\u043e\\u0441 \\u043e\\u0442 20%, \\u0441\\u0440\\u043e\\u043a \\u043a\\u0440\\u0435\\u0434\\u0438\\u0442\\u043e\\u0432\\u0430\\u043d\\u0438\\u044f \\u0434\\u043e 30 \\u043b\\u0435\\u0442, \\u0441\\u0443\\u043c\\u043c\\u0430 \\u043a\\u0440\\u0435\\u0434\\u0438\\u0442\\u0430 \\u0431\\u0435\\u0437 \\u043e\\u0433\\u0440\", \"discount_percent\": null, \"discount_sum\": null, \"amount\": null, \"term\": 360, \"deposit\": 20.0, \"mortgage_percent\": 7.1, \"is_base_price\": null, \"readable_sale_type\": null, \"sale_type\": null, \"sale_type_name\": null}, {\"name\": \"30% (100%, \\u0440\\u0430\\u0441\\u0441\\u0440\\u043e\\u0447\\u043a\\u0430, \\u043d\\u0435\\u0441\\u0443\\u0431\\u0441\\u0438\\u0434\\u0438\\u0440\\u043e\\u0432\\u0430\\u043d\\u043d\\u0430\\u044f \\u0438\\u043f\\u043e\\u0442\\u0435\\u043a\\u0430)\", \"discount_percent\": 30.0, \"discount_sum\": null, \"amount\": null, \"term\": null, \"deposit\": null, \"mortgage_percent\": null, \"is_base_price\": null, \"readable_sale_type\": \"100% \\u043e\\u043f\\u043b\\u0430\\u0442\\u0430\", \"sale_type\": 1, \"sale_type_name\": \"\\u041e\\u0441\\u043d\\u043e\\u0432\\u043d\\u0430\\u044f\"}, {\"name\": \"15% (\\u0421\\u0443\\u0431\\u0441\\u0438\\u0434\\u0438\\u0440\\u043e\\u0432\\u0430\\u043d\\u043d\\u0430\\u044f \\u0438\\u043f\\u043e\\u0442\\u0435\\u043a\\u0430)\", \"discount_percent\": 15.0, \"discount_sum\": null, \"amount\": null, \"term\": null, \"deposit\": null, \"mortgage_percent\": null, \"is_base_price\": null, \"readable_sale_type\": \"\\u0414\\u043b\\u044f \\u0438\\u043f\\u043e\\u0442\\u0435\\u043a\\u0438\", \"sale_type\": 2, \"sale_type_name\": \"\\u0421\\u0443\\u0431\\u0441\\u0438\\u0434\\u0438\\u0440\\u043e\\u0432\\u0430\\u043d\\u043d\\u0430\\u044f\"}, {\"name\": \"\\u0410\\u041e \\u00ab\\u0410\\u043b\\u044c\\u0444\\u0430-\\u0411\\u0430\\u043d\\u043a\\u00bb. \\u0421\\u0442\\u0430\\u0432\\u043a\\u0430 \\u043f\\u043e \\u043a\\u0440\\u0435\\u0434\\u0438\\u0442\\u0443 3,09%, \\u043f\\u0435\\u0440\\u0432\\u043e\\u043d\\u0430\\u0447\\u0430\\u043b\\u044c\\u043d\\u044b\\u0439 \\u0432\\u0437\\u043d\\u043e\\u0441 \\u043e\\u0442 15%, \\u0441\\u0440\\u043e\\u043a \\u043a\\u0440\\u0435\\u0434\\u0438\\u0442\\u043e\\u0432\\u0430\\u043d\\u0438\\u044f \\u0434\\u043e 30 \\u043b\\u0435\\u0442, \\u0441\\u0443\\u043c\\u043c\\u0430 \\u043a\\u0440\\u0435\\u0434\\u0438\\u0442\\u0430 \\u0431\\u0435\\u0437 \\u043e\\u0433\\u0440\\u0430\\u043d\\u0438\\u0447\\u0435\\u043d\\u0438\\u0439\", \"discount_percent\": -10.0, \"discount_sum\": null, \"amount\": null, \"term\": 360, \"deposit\": 15.0, \"mortgage_percent\": 3.09, \"is_base_price\": null, \"readable_sale_type\": null, \"sale_type\": null, \"sale_type_name\": null}, {\"name\": \"\\u041f\\u0410\\u041e \\u00ab\\u041c\\u041a\\u0411\\u00bb. \\u041f\\u0440\\u043e\\u0433\\u0440\\u0430\\u043c\\u043c\\u044b \\u0441 \\u0433\\u043e\\u0441. \\u043f\\u043e\\u0434\\u0434\\u0435\\u0440\\u0436\\u043a\\u043e\\u0439. \\u0421\\u0442\\u0430\\u0432\\u043a\\u0430 \\u043f\\u043e \\u043a\\u0440\\u0435\\u0434\\u0438\\u0442\\u0443 3%, \\u043f\\u0435\\u0440\\u0432\\u043e\\u043d\\u0430\\u0447\\u0430\\u043b\\u044c\\u043d\\u044b\\u0439 \\u0432\\u0437\\u043d\\u043e\\u0441 \\u043e\\u0442 15%, \\u0441\\u0440\\u043e\\u043a \\u043a\\u0440\\u0435\\u0434\\u0438\\u0442\\u043e\\u0432\\u0430\\u043d\\u0438\\u044f \\u0434\\u043e 30 \\u043b\\u0435\\u0442, \\u0441\\u0443\\u043c\\u043c\\u0430 \\u043a\\u0440\\u0435\\u0434\\u0438\\u0442\\u0430 \\u043e\\u0442 12 \\u0434\\u043e 30 \\u043c\\u043b\\u043d. \\u0440\\u0443\\u0431.\", \"discount_percent\": -10.0, \"discount_sum\": null, \"amount\": \"30000000.00\", \"term\": 360, \"deposit\": 15.0, \"mortgage_percent\": 3.0, \"is_base_price\": null, \"readable_sale_type\": null, \"sale_type\": null, \"sale_type_name\": null}, {\"name\": \"\\u041f\\u0410\\u041e \\u00ab\\u041c\\u041a\\u0411\\u00bb. \\u0421\\u0442\\u0430\\u043d\\u0434\\u0430\\u0440\\u0442\\u043d\\u044b\\u0435 \\u043f\\u0440\\u043e\\u0433\\u0440\\u0430\\u043c\\u043c\\u044b. \\u0421\\u0442\\u0430\\u0432\\u043a\\u0430 \\u043f\\u043e \\u043a\\u0440\\u0435\\u0434\\u0438\\u0442\\u0443 3%, \\u043f\\u0435\\u0440\\u0432\\u043e\\u043d\\u0430\\u0447\\u0430\\u043b\\u044c\\u043d\\u044b\\u0439 \\u0432\\u0437\\u043d\\u043e\\u0441 \\u043e\\u0442 15%, \\u0441\\u0440\\u043e\\u043a \\u043a\\u0440\\u0435\\u0434\\u0438\\u0442\\u043e\\u0432\\u0430\\u043d\\u0438\\u044f \\u0434\\u043e 30 \\u043b\\u0435\\u0442, \\u0441\\u0443\\u043c\\u043c\\u0430 \\u043a\\u0440\\u0435\\u0434\\u0438\\u0442\\u0430 \\u0431\\u0435\\u0437 \\u043e\\u0433\\u0440\\u0430\\u043d\\u0438\\u0447\\u0435\\u043d\\u0438\\u044f\", \"discount_percent\": -15.0, \"discount_sum\": null, \"amount\": \"0.00\", \"term\": 360, \"deposit\": 15.0, \"mortgage_percent\": 3.0, \"is_base_price\": null, \"readable_sale_type\": null, \"sale_type\": null, \"sale_type_name\": null}, {\"name\": \"\\u0410\\u041e \\u00ab\\u0411\\u0430\\u043d\\u043a \\u0414\\u041e\\u041c.\\u0420\\u0424\\u00bb.\\u041a\\u043e\\u043c\\u0431\\u043e \\u0438\\u043f\\u043e\\u0442\\u0435\\u043a\\u0430 \\u0434\\u043b\\u044f IT-\\u0441\\u043f\\u0435\\u0446\\u0438\\u0430\\u043b\\u0438\\u0441\\u0442\\u043e\\u0432. \\u0421\\u0443\\u043c\\u043c\\u0430 \\u043a\\u0440\\u0435\\u0434\\u0438\\u0442\\u0430 \\u043e\\u0442 18 \\u0434\\u043e 30 \\u043c\\u043b\\u043d. \\u0440\\u0443\\u0431. \\u0421\\u0442\\u0430\\u0432\\u043a\\u0430 \\u043f\\u043e \\u043a\\u0440\\u0435\\u0434\\u0438\\u0442\\u0443 4,5%, \\u043f\\u0435\\u0440\\u0432\\u043e\\u043d\\u0430\\u0447\\u0430\\u043b\\u044c\\u043d\\u044b\\u0439 \\u0432\\u0437\\u043d\\u043e\\u0441 \\u043e\\u0442 15%, \\u0441\\u0440\\u043e\\u043a \\u043a\\u0440\\u0435\\u0434\\u0438\\u0442\\u043e\\u0432\\u0430\\u043d\\u0438\\u044f \\u0434\\u043e 30 \\u043b\\u0435\\u0442\", \"discount_percent\": null, \"discount_sum\": null, \"amount\": \"30000000.00\", \"term\": 360, \"deposit\": 15.0, \"mortgage_percent\": 4.5, \"is_base_price\": null, \"readable_sale_type\": null, \"sale_type\": null, \"sale_type_name\": null}]",
            "source_url": "https://level.ru/api/flat/?limit=8&offset=1096",

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import sqlite3
import json

# Сброс ограничений на количество выводимых рядов
pd.set_option('display.max_rows', None)
 
# Сброс ограничений на число столбцов
pd.set_option('display.max_columns', None)
 
# Сброс ограничений на количество символов в записи
pd.set_option('display.max_colwidth', None)

In [ ]:
#connection = sqlite3.connect('/tmp/sql_dump/db.sqlite3')
connection = sqlite3.connect('/home/jupyter-amtsu/project/price_alert/db.sqlite3')
cursor = connection.cursor()

In [ ]:
df2 = pd.DataFrame([['Earth', 1], ['Moon', 0.606], ['Mars', 0.107]])

In [ ]:

df2

In [ ]:
#5196982
#5193646
cursor.execute("""
select 
count(1)
from products_history 
limit 100
""")
cursor.fetchall()

In [ ]:
#66039
#2211
#1104
#3297
#3336
cursor.execute("""
select 
count(1)
from products_history 
where source_url like "%level.ru%"
 and datetime_create > "2023-02-11"
limit 1000
""")
cursor.fetchall()

In [ ]:
#cursor.execute("""
#delete
#from products_history 
#where source_url like "%level.ru%"
# and datetime_create > "2023-02-11"
#""")
#cursor.fetchall()

In [ ]:
#connection.commit()

In [ ]:
cursor.execute("""
select 
    title,
    price,
    price_sale,
    datetime_create,
    category,
    --brand,
    --brand_url,
    --description,
    source_url,
    apartment_area,
    apartment_completion_quarter,
    apartment_completion_year,
    apartment_floor,
    apartment_floors_total,
    apartment_ceilingheight,
    apartment_room,
    apartment_ppm,
    apartment_address,
    apartment_location_lat,
    apartment_location_lon
    
from products_history 
where url like "%level.ru%"
   and price_sale < 100000000
order by datetime_create desc
limit 100
""")
#cursor.fetchall()

df = pd.DataFrame(cursor.fetchall(), columns=[
    "title",
    "price",
    "price_sale",
    "datetime_create",
    "category",
    "source_url",
    "apartment_area",
    "apartment_completion_quarter",
    "apartment_completion_year",
    "apartment_floor",
    "apartment_floors_total",
    "apartment_ceilingheight",
    "apartment_room",
    "apartment_ppm",
    "apartment_address",
    "apartment_location_lat",
    "apartment_location_lon",
])

In [ ]:
#title, datetime_create, category, source_url, apartment_address

In [ ]:
df.info()

In [ ]:
df = df.dropna()

In [ ]:
df.info()

In [ ]:
df

In [ ]:
#for d in df[6]:
#    #print(d)
#    print("--------")
#    #d.encode('cp1251')
#    #print(d.encode('cp1251'))
#    print("--------")
#    #print(d.encode().decode('cp1251'))
#    j = json.loads(d)
#    print(j)

In [ ]:
plt.figure(figsize=(12,6))
plt.scatter(df["apartment_area"],df["price_sale"], alpha=0.4)
plt.xlabel("apartment_area")
plt.ylabel("price_sale")
#plt.ylim(10,120)

In [ ]:
df.describe()

In [ ]:
#import seaborn as sns
##penguins = sns.load_dataset(df)
#sns.pairplot(df)

In [ ]:
#plt.show()

In [ ]:
# importing packages
import seaborn
import pandas 
import matplotlib.pyplot as plt

In [ ]:

# load the csv
#data = pandas.read_csv("nba.csv")
 
# pairplot
seaborn.pairplot(df)
#plt.show()

In [ ]:
seaborn.pairplot(df.drop(['price', 'apartment_ppm','title', 'datetime_create', 'category', 'source_url', 'apartment_address','apartment_location_lat','apartment_location_lon'], axis=1 ))

# 'price_sale',

In [ ]:
#Хотим спрогнозировать стоимость квартиры?
2.463307e+07

In [ ]:
model = LinearRegression()

In [ ]:
df_train = df.drop(['price', 'apartment_ppm', 'price_sale', 'title', 'datetime_create', 'category', 'source_url', 'apartment_address', 'apartment_location_lat', 'apartment_location_lon'], axis=1 )
df_y = df[['price_sale']].copy()

In [ ]:
df_train

In [ ]:

df_y

In [ ]:
#np.any(np.isnan(df_train))
#df_train = df_train.reset_index()
#df_train
#df_y = df_y.reset_index()
#df_y

In [ ]:
model.fit(df_train, df_y)

$ x_1 * k_1 + x_2 * k_2 + b = y $

In [ ]:
model.coef_

In [ ]:
# вспоминить что это?
model.intercept_

In [ ]:
plt.figure(figsize=(12,6))
plt.scatter(df["apartment_area"],df["price_sale"], alpha=0.4)
plt.xlabel("price_sale")
plt.ylabel("apartment_area")
#plt.ylim(10,120)

#plt.plot(df_train, model.predict(df_train))
#plt.plot(df_train['apartment_area'], model.predict(df_train))
plt.scatter(df_train['apartment_area'], model.predict(df_train), alpha=0.4)

In [ ]:
# R**2
model.score(df_train, df_y)

$ R^2 = 1 - sum((y - y^)^2) / sum((y - y_)^2) $

In [ ]:
df

In [ ]:
#df_t = pd.DataFrame([[66.2,4,2026,30,32,3.00,2,55.760180,37.517482]], columns=["apartment_area","apartment_completion_quarter","apartment_completion_year","apartment_floor","apartment_floors_total","apartment_ceilingheight","apartment_room","apartment_location_lat","apartment_location_lon"])
# 69200322 и с скидкой 48440225
#df_t = pd.DataFrame([[66.2,4,2023,13,32,3.00,2,55.760180,37.517482]], columns=["apartment_area","apartment_completion_quarter","apartment_completion_year","apartment_floor","apartment_floors_total","apartment_ceilingheight","apartment_room","apartment_location_lat","apartment_location_lon"])
df_t = pd.DataFrame([[66.2,4,2023,13,32,3.00,2]], columns=["apartment_area","apartment_completion_quarter","apartment_completion_year","apartment_floor","apartment_floors_total","apartment_ceilingheight","apartment_room"])
model.predict(df_t)

In [ ]:
model.predict([[66.2,4,2023,13,32,3.00,2,55.760180,37.517482]])

In [ ]:
model.predict(df_train)

In [ ]:
# не то поставил
#!pip install scrapy

In [ ]:
#root@malvina8:/home/jupyter-amtsu# python3 -m pip install xgboost
#Requirement already satisfied: xgboost in /usr/local/lib/python3.8/dist-packages (1.7.3)
#Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from xgboost) (1.10.0)
#Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from xgboost) (1.24.2)

In [ ]:
def f():
    return [1,2,3,4]

print(type(f()))

k = f()
x,y,u,i = f()
print(y)
print(i)
print(k)

In [ ]:
#!pip install numpy

In [ ]:
#!pip install scipy

In [ ]:
#!pip install xgboost --no-cache-dir

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df_train, df_y, test_size=0.2, random_state=546)

In [ ]:
import xgboost as xgb
import numpy as np
from sklearn.metrics import mean_squared_error

In [ ]:
#xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
#                max_depth = 5, alpha = 10, n_estimators = 10)
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror')
#xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', colsample_bytree = 0.3, learning_rate = 0.1,
#                max_depth = 5, alpha = 10, n_estimators = 10)

In [ ]:
xg_reg.fit(X_train,y_train)

In [ ]:
preds = xg_reg.predict(X_test)

In [ ]:
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

In [ ]:
# средне квадратичное отклонение
-3 * RMSE ~ 3 * RMSE = 0,97

In [ ]:
xg_reg.predict(df_t)

In [ ]:
plt.figure(figsize=(12,6))
plt.scatter(df["apartment_area"],df["price_sale"], alpha=0.4)
plt.xlabel("price_sale")
plt.ylabel("apartment_area")
#plt.ylim(10,120)

#plt.plot(df_train, model.predict(df_train))
#plt.plot(df_train['apartment_area'], model.predict(df_train))

plt.scatter(df_train['apartment_area'], model.predict(df_train), alpha=0.4,  color="green")
plt.scatter(df_train['apartment_area'], xg_reg.predict(df_train), alpha=0.4,  color="pink")

plt.scatter(df_t['apartment_area'], model.predict(df_t), alpha=0.4, color="black")
plt.scatter(df_t['apartment_area'], xg_reg.predict(df_t), alpha=0.4, color="red")

#  и с скидкой 
plt.scatter(df_t['apartment_area'], 69200322, alpha=0.4)
plt.scatter(df_t['apartment_area'], 48440225, alpha=0.4)

#plt.scatter(df_train['apartment_area'], model.predict(df_train), alpha=0.4)

In [ ]:
#df_train, df_y

data_dmatrix = xgb.DMatrix(data=df_train,label=df_y)
params = {"objective":"reg:linear",'colsample_bytree': 0.3,'learning_rate': 0.1,
                'max_depth': 5, 'alpha': 10}
params = {"objective":"reg:linear",'colsample_bytree': 0.3,'learning_rate': 0.1,
                'max_depth': 15, 'alpha': 30}

cv_results = xgb.cv(dtrain=data_dmatrix, params=params, nfold=13,
                    num_boost_round=150,early_stopping_rounds=110,metrics="rmse", as_pandas=True, seed=123)

In [ ]:
cv_results.head()

In [ ]:
print((cv_results["test-rmse-mean"]).tail(1))

In [ ]:
plt.figure(figsize=(12,6))
plt.scatter(df["apartment_area"],df["price_sale"], alpha=0.4)
plt.xlabel("apartment_area")
plt.ylabel("price_sale")
plt.xlim(15, 50)
plt.ylim(2000000, 20000000)


#plt.plot(df_train, model.predict(df_train))
#plt.plot(df_train['apartment_area'], model.predict(df_train))

plt.scatter(df_train['apartment_area'], model.predict(df_train), alpha=0.4)
plt.scatter(df_train['apartment_area'], xg_reg.predict(df_train), alpha=0.4, )

plt.scatter(df_t['apartment_area'], model.predict(df_t), alpha=0.4, color="black")
plt.scatter(df_t['apartment_area'], xg_reg.predict(df_t), alpha=0.4, color="red")

#  и с скидкой 
plt.scatter(df_t['apartment_area'], 69200322, alpha=0.4)
plt.scatter(df_t['apartment_area'], 48440225, alpha=0.4)

#plt.scatter(df_train['apartment_area'], model.predict(df_train), alpha=0.4)

In [ ]:
#df_train = df.drop(['price', 'apartment_ppm', 'price_sale', 'title', 'datetime_create', 'category', 'source_url', 'apartment_address'], axis=1 )
#df_y = df[['price_sale']].copy()

#xg_reg.fit(df,df_y)

In [ ]:
xg_reg.score(X_train,y_train)

In [ ]:
# визуализировать дерево решеней для XGB

# Добавил дни экспозиции и дополнит ельные паремтры

In [ ]:
cursor.execute("""
WITH sales_numbered AS (
SELECT 
    id, 
    title,
    price_sale,
    --LEAD(price_sale,1,0) OVER (PARTITION BY title, url, apartment_floor, apartment_room, apartment_area ORDER BY  title, id desc ) AS prev_price_sale,  
    apartment_area,
    
    price,
    datetime_create,
    category,
    source_url,
    --apartment_area,
    apartment_completion_quarter,
    apartment_completion_year,
    apartment_floor,
    apartment_floors_total,
    apartment_ceilingheight,
    apartment_room,
    apartment_ppm,
    apartment_address,
    apartment_location_lat,
    apartment_location_lon,
    
    "2022-12-17" as date_start_import,
    MIN(datetime_create) OVER (PARTITION BY title, url ) as datetime_create_min,
    MAX(datetime_create) OVER (PARTITION BY title, url ) as datetime_create_max,
    julianday(date(MAX(datetime_create) OVER (PARTITION BY title, url ))) - julianday(date(MIN(datetime_create) OVER (PARTITION BY title, url ))) as days_of_exposure,
    
    MIN(price_sale) OVER (PARTITION BY title, url ORDER BY title, id desc ROWS BETWEEN CURRENT ROW AND 6 FOLLOWING) as d7_min,
    AVG(price_sale) OVER (PARTITION BY title, url ORDER BY title, id desc ROWS BETWEEN CURRENT ROW AND 6 FOLLOWING) as d7_avg,
    MAX(price_sale) OVER (PARTITION BY title, url ORDER BY title, id desc ROWS BETWEEN CURRENT ROW AND 6 FOLLOWING) as d7_max,
    
    MIN(price_sale) OVER (PARTITION BY title, url ORDER BY title, id desc ROWS BETWEEN CURRENT ROW AND 29 FOLLOWING) as d30_min,
    AVG(price_sale) OVER (PARTITION BY title, url ORDER BY title, id desc ROWS BETWEEN CURRENT ROW AND 29 FOLLOWING) as d30_avg,
    MAX(price_sale) OVER (PARTITION BY title, url ORDER BY title, id desc ROWS BETWEEN CURRENT ROW AND 29 FOLLOWING) as d30_max,

    MIN(price_sale) OVER (PARTITION BY title, url ORDER BY title, id desc ROWS BETWEEN CURRENT ROW AND 89 FOLLOWING) as d90_min,
    AVG(price_sale) OVER (PARTITION BY title, url ORDER BY title, id desc ROWS BETWEEN CURRENT ROW AND 89 FOLLOWING) as d90_avg,
    MAX(price_sale) OVER (PARTITION BY title, url ORDER BY title, id desc ROWS BETWEEN CURRENT ROW AND 89 FOLLOWING) as d90_max,

    MIN(price_sale) OVER (PARTITION BY title, url ORDER BY title, id desc ROWS BETWEEN CURRENT ROW AND 364 FOLLOWING) as d365_min,
    AVG(price_sale) OVER (PARTITION BY title, url ORDER BY title, id desc ROWS BETWEEN CURRENT ROW AND 364 FOLLOWING) as d365_avg,
    MAX(price_sale) OVER (PARTITION BY title, url ORDER BY title, id desc ROWS BETWEEN CURRENT ROW AND 364 FOLLOWING) as d365_max,
    
    MIN(price_sale) OVER (PARTITION BY title, url ) as all_min,
    AVG(price_sale) OVER (PARTITION BY title, url ) as all_avg,
    MAX(price_sale) OVER (PARTITION BY title, url ) as all_max,

    price_sale - LEAD(price_sale,1,0) OVER (PARTITION BY title, url  ORDER BY title, id desc ) AS diff,
    ROW_NUMBER() OVER(PARTITION BY title, url ORDER BY id desc) AS row_number
FROM products_history
where datetime_create >= "2022-01-17"
    and url like "%level.ru%"
    --and title like "%Нагатинская%"
    --and apartment_floor = 13
    --and apartment_room = 1
    --and apartment_area = '30.5'
ORDER BY id desc
LIMIT 3000000     
)
SELECT 

    id, 
    title,
    price_sale,
    apartment_area,
    
    price,
    datetime_create,
    category,
    source_url,
    --apartment_area,
    apartment_completion_quarter,
    apartment_completion_year,
    apartment_floor,
    apartment_floors_total,
    apartment_ceilingheight,
    apartment_room,
    apartment_ppm,
    apartment_address,
    apartment_location_lat,
    apartment_location_lon,
    
    
    date_start_import,
    datetime_create_min,
    datetime_create_max,
    --date(datetime_create_max),
    --datetime(datetime_create_max),
    --julianday(date(datetime_create_max)) - julianday(date(datetime_create_min)) as days_of_exposure,
    days_of_exposure,
    CASE
        WHEN days_of_exposure < 7 
            THEN 1
        ELSE 0
    END AS d7_sale,
    CASE
        WHEN days_of_exposure >= 7 and days_of_exposure < 40 
--        WHEN days_of_exposure < 40 
            THEN 1
        ELSE 0
    END AS d30_sale,
    CASE
        WHEN days_of_exposure >= 40 and days_of_exposure < 110 
--        WHEN days_of_exposure < 110 
            THEN 1
        ELSE 0
    END AS d90_sale,
    CASE
        WHEN days_of_exposure >= 110 and days_of_exposure < 400 
--        WHEN  days_of_exposure < 400 
            THEN 1
        ELSE 0
    END AS d365_sale,

    d7_min,
    d7_avg,
    d7_max,

    d30_min,
    d30_avg,
    d30_max,

    d90_min,
    d90_avg,
    d90_max,

    d365_min,
    d365_avg,
    d365_max,

    all_min,
    all_avg,
    all_max,

    row_number
FROM sales_numbered
WHERE row_number = 1
Order by days_of_exposure;

""")

#cursor.fetchall()


df = pd.DataFrame(cursor.fetchall(), columns=[
        
    "id", 
    "title",
    "price_sale",
    "apartment_area",
    
    "price",
    "datetime_create",
    "category",
    "source_url",
#    "apartment_area",
    "apartment_completion_quarter",
    "apartment_completion_year",
    "apartment_floor",
    "apartment_floors_total",
    "apartment_ceilingheight",
    "apartment_room",
    "apartment_ppm",
    "apartment_address",
    "apartment_location_lat",
    "apartment_location_lon",
    
    "date_start_import",
    "datetime_create_min",
    "datetime_create_max",
    "days_of_exposure",
    "d7_sale",
    "d30_sale",
    "d90_sale",
    "d365_sale",

    "d7_min",
    "d7_avg",
    "d7_max",

    "d30_min",
    "d30_avg",
    "d30_max",

    "d90_min",
    "d90_avg",
    "d90_max",

    "d365_min",
    "d365_avg",
    "d365_max",

    "all_min",
    "all_avg",
    "all_max",

    "row_number"
])

In [ ]:
df.info()

In [ ]:
df = df.dropna()

In [ ]:
df.info()

In [ ]:
plt.figure(figsize=(12,6))
plt.scatter(df["apartment_area"],df["price_sale"], alpha=0.4)
plt.xlabel("apartment_area")
plt.ylabel("price_sale")
#plt.ylim(10,120)

In [ ]:
model = LinearRegression()

df_train = df.drop(['price', 'apartment_ppm', 'price_sale', 'title', 'datetime_create', 'category', 'source_url', 'apartment_address', 'apartment_location_lat', 'apartment_location_lon',       
    "id",

    "apartment_completion_quarter",
    
    "date_start_import",
    "datetime_create_min",
    "datetime_create_max",
                    
    "days_of_exposure",          
                    
    "d7_min",
    "d7_avg",
    "d7_max",

    "d30_min",
    "d30_avg",
    "d30_max",

    "d90_min",
    "d90_avg",
    "d90_max",

    "d365_min",
    "d365_avg",
    "d365_max",

    "all_min",
    "all_avg",
    "all_max",

    "row_number"
                   
                   ], axis=1 )
df_y = df[['price_sale']].copy()

model.fit(df_train, df_y)

In [ ]:
model.coef_

In [ ]:
model.intercept_

In [ ]:
plt.figure(figsize=(12,6))
plt.scatter(df["apartment_area"],df["price_sale"], alpha=0.4)
plt.xlabel("price_sale")
plt.ylabel("apartment_area")
#plt.ylim(10,120)

#plt.plot(df_train, model.predict(df_train))
#plt.plot(df_train['apartment_area'], model.predict(df_train))
plt.scatter(df_train['apartment_area'], model.predict(df_train), alpha=0.4)

In [ ]:
#df_t = pd.DataFrame([[30.5,4,2023,13,32,3.00,1]], columns=[
#    "apartment_area",
#    "apartment_completion_quarter",
#    "apartment_completion_year",
#    "apartment_floor",
#    "apartment_floors_total",
#    "apartment_ceilingheight",
#    "apartment_room"])

#price', 'apartment_ppm', 'price_sale', 'title', 'datetime_create', 'category', 'source_url', 
#'apartment_address', 'apartment_location_lat', 'apartment_location_lon',       
#    "date_start_import",
#    "datetime_create_min",
#    "datetime_create_max"

#", 
#df_t = pd.DataFrame([[30.5,4,2023,13,32,3.00,1,0,1,0,0]], columns=[
df_t = pd.DataFrame([[30.5,2023,3,32,3.00,1,0,1,0,0]], columns=[


    "apartment_area",
#    "apartment_completion_quarter",
    "apartment_completion_year",
    "apartment_floor",
    "apartment_floors_total",
    "apartment_ceilingheight",
    "apartment_room",


    "d7_sale",
    "d30_sale", 
    "d90_sale",
    "d365_sale"
])
 

model.predict(df_t)

In [ ]:
df_t = pd.DataFrame([[30.5,2023,13,32,3.00,1,0,1,0,0]], columns=[


    "apartment_area",
#    "apartment_completion_quarter",
    "apartment_completion_year",
    "apartment_floor",
    "apartment_floors_total",
    "apartment_ceilingheight",
    "apartment_room",


    "d7_sale",
    "d30_sale", 
    "d90_sale",
    "d365_sale"
])
 

model.predict(df_t)

In [ ]:
# высиялюю изменние средней площади квадратного метра по дням / неделям

In [ ]:
cursor.execute("""
SELECT 
    id, 
    price_sale,
    CAST(apartment_area as int),
    CAST(price_sale / apartment_area as decimal(15,2)),
    date(datetime_create) as date
    
FROM products_history
where datetime_create >= "2022-01-17"
    and url like "%level.ru%"
    --and title like "%Нагатинская%"
    --and apartment_floor = 13
    --and apartment_room = 1
    --and apartment_area = '30.5'
ORDER BY id desc
LIMIT 4
""")

#cursor.fetchall()


df = pd.DataFrame(cursor.fetchall(), columns=[
    "id", 
    "price_sale",
    "apartment_area",
    "price per metr",
    "date"
])

In [ ]:
df

In [ ]:
df.describe()

In [ ]:
import re

In [ ]:
cursor.execute("""
SELECT 
    id, 
    title,
    price_sale,
    apartment_area,
    CAST(apartment_area as decimal) as apartment_area,
    CAST(price_sale as decimal(15,2)) / CAST(apartment_area as decimal(15,2)),
    --*,
    date(datetime_create) as date
    
FROM products_history
where 
    datetime_create <= "2023-02-10"
    and url like "%level.ru%"
--    and apartment_area = ""
    --and title like "%Нагатинская%"
    --and apartment_floor = 13
    --and apartment_room = 1
    --and apartment_area = '30.5'
ORDER BY id asc
LIMIT 1000000
""")

for i in cursor.fetchall():
    title = i[1]
    iid = i[0]
    aa = i[3]
    datee = i[6]
    result = re.search(r'\d\d\d?\.\d', title)
    mm = 0
    if result:
        mm = result.group(0)
#    if not aa:
#        print(aa , '!=', mm, datee)
#    elif float(aa) != float(mm):  
#        print(iid, mm, title)
        
    #update
#    print( f"""UPDATE products_history
#SET apartment_area = '{mm}'
#WHERE id = '{iid}';
#""")
    print(iid)
    cursor.execute(f"""UPDATE products_history
SET apartment_area = '{mm}'
WHERE id = '{iid}';
""")

In [ ]:
connection.commit()

In [ ]:
#5008519
cursor.execute("""
SELECT 
    id, 
    title,
    price_sale,
    apartment_area
    
FROM products_history
where 
    id = 4726131
""")

cursor.fetchall()

In [ ]:
cursor.execute("""
WITH sales_numbered AS (
SELECT 
    id, 
    price_sale,
    CAST(apartment_area as decimal) as apartment_area,
    CAST(price_sale / apartment_area as decimal(15,2)),
    date(datetime_create) as date
    
FROM products_history
where 
    --datetime_create >= "2022-01-17"
     url like "%level.ru%"
    --and title like "%Нагатинская%"
    --and apartment_floor = 13
    --and apartment_room = 1
    --and apartment_area = '30.5'
ORDER BY id asc
LIMIT 1431
)
SELECT 
    cast(sum(price_sale) as int),
    cast(sum(apartment_area) as int),
    cast(avg(price_sale / apartment_area) as int),
    cast(sum(price_sale) / sum(apartment_area) as int),
    date
    
FROM sales_numbered

group by date
ORDER BY date
LIMIT 331  
""")

#cursor.fetchall()


df = pd.DataFrame(cursor.fetchall(), columns=[
    "sum price_sale",
    "sum apartment_area",
    "avg price per metr",
    "avg sum price per sum metr",
    "date"
])

In [ ]:
df

In [ ]:
cursor.execute("""
WITH sales_numbered AS (
SELECT 
    id, 
    price_sale,
    CAST(apartment_area as decimal) as apartment_area,
    CAST(price_sale / apartment_area as decimal(15,2)),
    date(datetime_create) as date
    
FROM products_history
where 
--datetime_create >= "2022-01-17"
    --and 
    url like "%level.ru%"
    --and title like "%Нагатинская%"
    --and apartment_floor = 13
    --and apartment_room = 1
    --and apartment_area = '30.5'
ORDER BY id desc
LIMIT 1431111
)
SELECT 
    cast(sum(price_sale) as int),
    cast(sum(apartment_area) as int),
    cast(avg(price_sale / apartment_area) as int),
    cast(sum(price_sale) / sum(apartment_area) as int),
    avg(apartment_area),
    avg(price_sale),
    date
    
FROM sales_numbered

group by date
ORDER BY date
LIMIT 331  
""")

#cursor.fetchall()


df = pd.DataFrame(cursor.fetchall(), columns=[
    "sum price_sale",
    "sum apartment_area",
    "avg price per metr",
    "avg sum price per sum metr",
    "avg apartment_area",
    "avg price",
    "date"
])

In [ ]:
df

In [ ]:
30307550429 / 66438.0

In [ ]:
plt.figure(figsize=(12,6))
plt.scatter(df["date"],df["sum price_sale"], alpha=0.4)
plt.xlabel("1")
plt.ylabel("2")
#plt.ylim(10,120)

In [ ]:
plt.figure(figsize=(12,6))
plt.scatter(df["date"],df["sum apartment_area"], alpha=0.4)
plt.xlabel("1")
plt.ylabel("2")
#plt.ylim(10,120)

In [ ]:
plt.figure(figsize=(12,6))
plt.scatter(df["date"],df["avg price per metr"], alpha=0.4)
plt.xlabel("1")
plt.ylabel("2")
#plt.ylim(10,120)

In [ ]:
plt.figure(figsize=(12,6))
plt.scatter(df["date"],df["avg sum price per sum metr"], alpha=0.4)
plt.xlabel("1")
plt.ylabel("2")
#plt.ylim(10,120)

In [ ]:
#avg apartment_area
plt.figure(figsize=(12,6))
plt.scatter(df["date"],df["avg apartment_area"], alpha=0.4)
plt.xlabel("1")
plt.ylabel("2")
#plt.ylim(10,120)

In [ ]:
#avg price

#avg apartment_area
plt.figure(figsize=(12,6))
plt.scatter(df["date"],df["avg price"], alpha=0.4)
plt.xlabel("1")
plt.ylabel("2")
#plt.ylim(10,120)

In [ ]:
#вязть распределенеи стоимости по дню
#выбрать все прдлжения за день, рассчиать стоимость квадратного метра и вывести


cursor.execute("""
SELECT 
    id, 
    price_sale,
    CAST(apartment_area as decimal) as apartment_area,
    CAST(price_sale / apartment_area as decimal(15,2)),
    date(datetime_create) as date
    
FROM products_history
where 
    ((datetime_create >= "2023-03-18"
    and 
    datetime_create < "2023-03-19")
    or
    (datetime_create >= "2022-12-07"
    and 
    datetime_create < "2022-12-08"))
    and 
    url like "https://level.ru%"
    --and title like "%Нагатинская%"
    --and apartment_floor = 13
    --and apartment_room = 1
    --and apartment_area = '30.5'
ORDER BY id desc
limit 2
""")

df = pd.DataFrame(cursor.fetchall(), columns=[
    "id",
    "price_sale",
    "apartment_area",
    "avg",
    "date"
])

plt.figure(figsize=(12,6))
plt.scatter(df["apartment_area"], df["date"], alpha=0.4)
plt.xlabel("1")
plt.ylabel("2")
#plt.ylim(10,120)

In [ ]:
#вязть распределенеи стоимости по дню
#выбрать все прдлжения за день, рассчиать стоимость квадратного метра и вывести


cursor.execute("""
SELECT 
    id, 
    price_sale,
    CAST(apartment_area as decimal) as apartment_area,
    CAST(price_sale / apartment_area as decimal(15,2)),
    date(datetime_create) as date
    
FROM products_history
where 
    ((datetime_create >= "2023-03-18"
    and 
    datetime_create < "2023-03-19")
    or
    (datetime_create >= "2022-12-07"
    and 
    datetime_create < "2022-12-08"))
    and 
    url like "https://level.ru%"
    --and title like "%Нагатинская%"
    --and apartment_floor = 13
    --and apartment_room = 1
    --and apartment_area = '30.5'
ORDER BY id desc
limit 20000
""")

df = pd.DataFrame(cursor.fetchall(), columns=[
    "id",
    "price_sale",
    "apartment_area",
    "avg",
    "date"
])

plt.figure(figsize=(12,6))
plt.scatter(df["apartment_area"], df["date"], alpha=0.4)
plt.xlabel("1")
plt.ylabel("2")
#plt.ylim(10,120)

In [ ]:
#вязть распределенеи стоимости по дню
#выбрать все прдлжения за день, рассчиать стоимость квадратного метра и вывести


cursor.execute("""
SELECT 
    id, 
    price_sale,
    CAST(apartment_area as decimal) as apartment_area,
    CAST(price_sale / apartment_area as decimal(15,2)),
    CAST(apartment_area as int) as apartment_area,
    
    CAST((price_sale / apartment_area)/20000 as decimal(15,2)),
    
    date(datetime_create) as date
    
FROM products_history
where 
    (
    (datetime_create >= "2023-03-18"    and  datetime_create < "2023-03-19")
--    or
--    (datetime_create >= "2022-12-07"    and     datetime_create < "2022-12-08")
    )
    and 
    url like "https://level.ru%"
    --and title like "%Нагатинская%"
    --and apartment_floor = 13
    --and apartment_room = 1
    --and apartment_area = '30.5'
ORDER BY id desc
limit 20000
""")

df = pd.DataFrame(cursor.fetchall(), columns=[
    "id",
    "price_sale",
    "apartment_area",
    "avg",
    "w",
    "e",
    "date"
])

plt.figure(figsize=(12,6))
plt.scatter(df["apartment_area"], df["date"], alpha=0.4)
plt.xlabel("1")
plt.ylabel("2")
#plt.ylim(10,120)

In [ ]:

plt.figure(figsize=(12,6))
plt.scatter(df["apartment_area"], df["e"], alpha=0.05)
plt.xlabel("1")
plt.ylabel("2")
#plt.ylim(10,120)

In [ ]:
#вязть распределенеи стоимости по дню
#выбрать все прдлжения за день, рассчиать стоимость квадратного метра и вывести


cursor.execute("""
SELECT 
    id, 
    price_sale,
    CAST(apartment_area as decimal) as apartment_area,
    CAST(price_sale / apartment_area as decimal(15,2)),
    CAST(apartment_area as int) as apartment_area,
    
    CAST((price_sale / apartment_area)/20000 as decimal(15,2)),
    
    date(datetime_create) as date
    
FROM products_history
where 
    (
--    (datetime_create >= "2023-03-18"    and  datetime_create < "2023-03-19")
--    or
    (datetime_create >= "2022-12-07"    and     datetime_create < "2022-12-08")
    )
    and 
    url like "https://level.ru%"
    --and title like "%Нагатинская%"
    --and apartment_floor = 13
    --and apartment_room = 1
    --and apartment_area = '30.5'
ORDER BY id desc
limit 20000
""")

df = pd.DataFrame(cursor.fetchall(), columns=[
    "id",
    "price_sale",
    "apartment_area",
    "avg",
    "w",
    "e",
    "date"
])

plt.figure(figsize=(12,6))
plt.scatter(df["apartment_area"], df["date"], alpha=0.2)
plt.xlabel("1")
plt.ylabel("2")
#plt.ylim(10,120)

In [ ]:

plt.figure(figsize=(12,6))
plt.scatter(df["apartment_area"], df["e"], alpha=0.05)
plt.xlabel("1")
plt.ylabel("2")
#plt.ylim(10,120)

In [ ]:
#вязть распределенеи стоимости по дню
#выбрать все прдлжения за день, рассчиать стоимость квадратного метра и вывести


cursor.execute("""
SELECT 
 
    CAST((price_sale / apartment_area)/100000 as int),
    count(1),
    date(datetime_create) as date
    
FROM products_history
where 
    (
--    (datetime_create >= "2023-03-18"    and  datetime_create < "2023-03-19")
--    or
    (datetime_create >= "2022-12-07"    and     datetime_create < "2022-12-08")
    )
    and 
    url like "https://level.ru%"
    --and title like "%Нагатинская%"
    --and apartment_floor = 13
    --and apartment_room = 1
    --and apartment_area = '30.5'
group by CAST((price_sale / apartment_area)/100000 as int)
ORDER BY id desc
limit 20000
""")

df = pd.DataFrame(cursor.fetchall(), columns=[
    "apartment_area",
    "count",
    "date"
])


df

In [ ]:
plt.figure(figsize=(12,6))
plt.scatter(df["apartment_area"], df["count"], alpha=0.2)
plt.xlabel("1")
plt.ylabel("2")
#plt.ylim(10,120)

In [ ]:
#вязть распределенеи стоимости по дню
#выбрать все прдлжения за день, рассчиать стоимость квадратного метра и вывести


cursor.execute("""
SELECT 
 
    CAST((price_sale / apartment_area)/100000 as int),
    count(1),
    date(datetime_create) as date
    
FROM products_history
where 
    (
    (datetime_create >= "2023-03-18"    and  datetime_create < "2023-03-19")
--    or
--    (datetime_create >= "2022-12-07"    and     datetime_create < "2022-12-08")
    )
    and 
    url like "https://level.ru%"
    --and title like "%Нагатинская%"
    --and apartment_floor = 13
    --and apartment_room = 1
    --and apartment_area = '30.5'
group by CAST((price_sale / apartment_area)/100000 as int)
ORDER BY id desc
limit 20000
""")

df = pd.DataFrame(cursor.fetchall(), columns=[
    "apartment_area",
    "count",
    "date"
])

plt.figure(figsize=(12,6))
plt.scatter(df["apartment_area"], df["count"], alpha=0.2)
plt.xlabel("1")
plt.ylabel("2")
#plt.ylim(10,120)

In [ ]:


cursor.execute("""
SELECT 
 title,
 price_sale,
 
 apartment_area,
 price_sale / apartment_area,
    CAST((price_sale / apartment_area)/100000 as int),

    date(datetime_create) as date
    
FROM products_history
where 
    (
    (datetime_create >= "2023-03-18"    and  datetime_create < "2023-03-19")
--    or
--    (datetime_create >= "2022-12-07"    and     datetime_create < "2022-12-08")
    )
    and 
    url like "https://level.ru%"
    --and title like "%Нагатинская%"
    --and apartment_floor = 13
    --and apartment_room = 1
    --and apartment_area = '30.5'
    and CAST((price_sale / apartment_area)/100000 as int)<= 2

ORDER BY id desc
limit 2000000
""")

cursor.fetchall()

In [ ]:


cursor.execute("""
SELECT 
 title,
    CAST((price_sale / apartment_area)/100000 as int),

    date(datetime_create) as date
    
FROM products_history
where 
    (
    (datetime_create >= "2023-03-18"    and  datetime_create < "2023-03-19")
--    or
--    (datetime_create >= "2022-12-07"    and     datetime_create < "2022-12-08")
    )
    and 
    url like "https://level.ru%"
    --and title like "%Нагатинская%"
    --and apartment_floor = 13
    --and apartment_room = 1
    --and apartment_area = '30.5'
    and CAST((price_sale / apartment_area)/100000 as int)<= 1

ORDER BY id desc
limit 2000000
""")

cursor.fetchall()

In [ ]:


cursor.execute("""
SELECT 
 title,
    CAST((price_sale / apartment_area)/100000 as int),

    date(datetime_create) as date
    
FROM products_history
where 
    (
--    (datetime_create >= "2023-03-18"    and  datetime_create < "2023-03-19")
--    or
    (datetime_create >= "2022-12-07"    and     datetime_create < "2022-12-08")
    )
    and 
    url like "https://level.ru%"
    --and title like "%Нагатинская%"
    --and apartment_floor = 13
    --and apartment_room = 1
    --and apartment_area = '30.5'
    and CAST((price_sale / apartment_area)/100000 as int)<= 2

ORDER BY id desc
limit 2000000
""")

cursor.fetchall()

In [ ]:


cursor.execute("""
SELECT 
 title,
 price_sale,
 
 apartment_area,
 price_sale / apartment_area,
    CAST((price_sale / apartment_area)/100000 as int),

    date(datetime_create) as date
    
FROM products_history
where 
    (
    (datetime_create >= "2023-03-18"    and  datetime_create < "2023-03-19")
--    or
--    (datetime_create >= "2022-12-07"    and     datetime_create < "2022-12-08")
    )
    and 
    url like "https://level.ru%"
    --and title like "%Нагатинская%"
    --and apartment_floor = 13
    --and apartment_room = 1
    --and apartment_area = '30.5'
    and CAST((price_sale / apartment_area)/100000 as int)>= 20

ORDER BY id desc
limit 2000000
""")

cursor.fetchall()

In [ ]:


cursor.execute("""
SELECT 
 title,
 price_sale,
 
 apartment_area,
 price_sale / apartment_area,
    CAST((price_sale / apartment_area)/100000 as int),

    date(datetime_create) as date
    
FROM products_history
where 
    (
--    (datetime_create >= "2023-03-18"    and  datetime_create < "2023-03-19")
--    or
    (datetime_create >= "2022-12-07"    and     datetime_create < "2022-12-08")
    )
    and 
    url like "https://level.ru%"
    --and title like "%Нагатинская%"
    --and apartment_floor = 13
    --and apartment_room = 1
    --and apartment_area = '30.5'
    and CAST((price_sale / apartment_area)/100000 as int)<= 1

ORDER BY id desc
limit 2000000
""")

cursor.fetchall()